URL_FRACTION=https://www.jadlog.com.br/FractionWeb/login.jad

FRACTION_USER=
FRACTION_PASSWORD=

FRACTION_USER_ANALYTIC=
FRACTION_PASSWORD_ANALYTIC=

URL_ZENDESK=https://atendimento.ultrafarma.com.br/auth/v3/signin?return_to=https%3A%2F%2Fultrafarma2803.zendesk.com%2Fagent%2Ffilters%2F28605876587419&role=agent

ZENDESK_USER=
ZENDESK_PASSWORD=

URL_MEUDANFE=https://api.meudanfe.com.br/v2

API_KEY_MEUDANFE=

HEADLESS=True
